<div class="row">
  <div class="col-md-5 col-lg-3">
    <div class="d-flex media">
      <div></div>
      <div class="media-body">
        <h2>
          <a href="#">{{ transactionList.customerId }} </a>
          <span class="badge bg-success">Payment Success</span>
        </h2>

        <p class="text-muted">
          from {{ transactionList.customerId }} credit to
          {{ transactionList.recieverAccountNo }} to the bank
          {{ transactionList.bic }}<br />
        </p>
        <p class="text-muted">
          Payment ID: {{ transactionList.paymentNO }}<br />
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <p>
      <span class="h3">Rs.{{ transactionList.amount }} </span><br />
      <strong> </strong>
    </p>
    <p></p>
  </div>
  <div class="col-md-3 col-lg-6 offset-lg-0 text-end">
    <h1>
      <strong class="badge bg-success">{{
        transactionList.paymentCode
      }}</strong>
    </h1>
    <h3>
      {{ convert_to_full_msg(transactionList.paymentCode) }}
    </h3>
  </div>
</div>
