<p>dashboard works!</p>
<mat-card class="balance-card">
  <mat-card-title> Check Balance </mat-card-title>
  <mat-card-content> You can view your balance </mat-card-content>
  <mat-card-actions allign="end">
    <a routerLink="/checkbalance" mat-raised-button class="primary1">Check </a>
  </mat-card-actions>
</mat-card>

<mat-card class="balance-card2">
  <mat-card-title> Tranfer Amount </mat-card-title>
  <mat-card-content> You can transfer here </mat-card-content>
  <mat-card-actions allign="end">
    <a routerLink="/transferamount" mat-raised-button class="primary1"
      >Transfer
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="balance-card3">
  <mat-card-title> Transactions </mat-card-title>
  <mat-card-content> view old transactions </mat-card-content>
  <mat-card-actions allign="end">
    <button mat-raised-button class="primary1" (click)="openDialog()">
      Continue
    </button>
  </mat-card-actions>
</mat-card>
