<p>check-reciever works!</p>
<!-- reciever check  -->
<form action="" (submit)="getReciever()">
  <div class="container d-flex justify-content-center mt-5">
    <div class="card">
      <div class="py-2 px-3">
        <h1 class="amount">Check validity of Reciever Bank</h1>
      </div>
      <div>
        <div class="py-2 px-3">
          <div class="first pl-2 d-flex py-2">
            <div class="border-left pl-2">
              <span class="head">Enter the BIC here</span>
              <!-- **************imp customer id  here ************ -->
              <input [(ngModel)]="BIC" name="BIC" required type="text" />
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between px-3 pt-4 pb-3">
          <button class="btn">
            <span class="back"><a href="/home">Go back</a></span>
          </button>
          <button type="submit" class="btn btn-primary button">
            check Reciever
          </button>
          {{ this.bankName }}
        </div>
      </div>
    </div>
  </div>
</form>
