<p>homepage works!</p>
1.check customerid or user present in bank or not <br />----done <br />
<a href="/checkcustomer" class="btn btn-primary">check customerid</a> <br />
1.1 check balance <br />
<a href="/checkbalance" class="btn btn-primary"> 1.1 check balance </a><br />

2.check if reciever code bic <br />
<a href="/checkreciever" class="btn btn-primary">
  2.check if reciever code bic <br /> </a
><br />
present or not <br />
3.enter the name of the person to transfer <br />
<a href="" class="btn btn-primary">
  3.enter the name of the person to transfer <br /> </a
><br />
4.enter the payments page <br />
<a href="" class="btn btn-primary"> 4.enter the payments page <br /> </a><br />
5.enter amount and quit <br />
<a href="/payment" class="btn btn-primary"> 5.enter amount and quit <br /> </a
><br />
6.view transfer page
<br />
<a href="/transactions" class="btn btn-primary"> 6.view transfer page </a>
