<app-navbar></app-navbar>
<div class="mainclass">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/15519410-3d-people-man-person-standing-near-to-an-information-icon-.webp"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Check customer Details</h5>
      <p class="card-text">
        Click the button to check if customer is availablae
      </p>
      <a href="/checkcustomer" class="btn btn-primary"> check customer </a
      ><br />
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/15519410-3d-people-man-person-standing-near-to-an-information-icon-.webp"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Check Receiver Bank Details</h5>
      <p class="card-text">Check the Receiver Bank IFSC (BIC) validity</p>
      <a href="/checkreciever" class="btn btn-primary"> check checkreciever </a
      ><br />
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/1019607.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Payment</h5>
      <p class="card-text">Transfer Money to the recievers account</p>
      <a href="/payment" class="btn btn-primary"> Pay Now</a><br />
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/account-balance-icon-simple-element-vector-27306634.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Check Balance</h5>
      <p class="card-text">Check the balance</p>
      <a href="/checkbalance" class="btn btn-primary"> check balance </a><br />
    </div>
  </div>

  <!-- <div class="homecard">
        2.check if reciever code bic <br />
        <a href="/checkreciever" class="btn btn-primary">
          2.check if reciever code bic <br /> </a
          ><br />
          present or not <br />
        </div>
        <div class="homecard">
          3.enter the name of the person to transfer <br />
          <a href="" class="btn btn-primary">
            3.enter the name of the person to transfer <br /> </a
            ><br />
          </div>
          <div class="homecard">
            4.enter the payments page <br />
            <a href="" class="btn btn-primary"> 4.enter the payments page <br /> </a
              ><br />
            </div>
            <div class="homecard">
              5.enter amount and quit <br />
              <a href="/payment" class="btn btn-primary">
                5.enter amount and quit <br /> </a
                ><br />
              </div>
              <div class="homecard">
                6.view transfer page
                <br />
                <a href="/transactions" class="btn btn-primary"> 6.view transfer page </a>
      <br />
      <br />
    </div>
  </div> -->
</div>
